@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Start General Styling */
:root {
	--text-color: #231f1e;
	--secondary-text-color: #838383;
	--lighter-text-color: #8b8b8b;
	--bg-color: #ffffff;
	--placeholder: #30303080;
	--primary: #e35aa0;
	--secondary: #e35aa026;
	--light-gray: #d9d9d9;
	--footer-color: #2a2a2a;
	--slider-dot: #231f1e59;
	--active-slider-dot: #3d2f2f;
	--border-color: #e8e8e8;
	--second-bg-color: #fafafa;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
h1,
h2,
h3 {
	font-weight: 700;
}

p {
	color: var(--text-color);
}
a {
	text-decoration: none;
}
[lang='ar'],
[dir='rtl'] * {
	font-family: 'Almarai', sans-serif !important;
}
[lang='en'],
[dir='ltr'] * {
	font-family: 'Montserrat', sans-serif !important;
}
button[type='submit']:disabled {
	background-color: var(--light-gray);
}
.text-primary {
	color: var(--primary) !important;
}
.text-black {
	color: var(--text-color) !important;
}
.bg-primary {
	background-color: var(--primary) !important;
}
.bg-secondary {
	background-color: var(--secondary) !important;
}
.border-primary {
	border-color: var(--primary) !important;
}
::placeholder {
	color: var(--placeholder);
}
img {
	object-fit: cover;
}
nav {
	border-bottom: 1px solid var(--border-color);
}
/* End General Styling */

/* Start Reusable styles */
.background-secondary {
	background-color: #fafafa;
}
.container-spacing {
	margin-bottom: 3rem;
}

.cursor-pointer {
	cursor: pointer;
}

.circular-button {
	padding: 6px 16px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3.75rem;
	outline: none;
	font-size: 1.5rem;
	transition: all 0.2s linear;
}

.circular-button-primary {
	background-color: var(--primary);
	border-color: var(--primary);
	color: white;
	font-weight: 700;
	padding: 6px 32px;
}

.circular-button-primary:hover {
	background-color: transparent;
	border-color: white;
}

.circular-button-primary.no-hover:hover {
	background-color: var(--primary);
	border-color: var(--primary);
}

.circular-button-transparent {
	background-color: transparent;
	border-color: white;
	color: white;
}

.circular-button-transparent:hover {
	background-color: var(--primary);
	border-color: var(--primary);
}

.circular-button-black {
	background-color: var(--text-color);
	color: var(--bg-color);
	border-color: var(--text-color);
}

.circular-button-black:hover {
	background-color: var(--bg-color);
	color: var(--text-color);
	border-color: var(--text-color);
}

.dark {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: 1;
	border-radius: inherit;
}

.heading {
	text-align: center;
	margin-bottom: 2rem;
}
.heading h2 {
	color: var(--primary);
	font-size: 1rem;
	font-weight: 700;
}
.heading p {
	font-weight: 700;
	font-size: 2rem;
}
.dark-bg {
	cursor: pointer;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
}
.dark-bg.active {
	display: block;
}
.services-button {
	position: relative;
}
.services-list {
	display: none;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	position: absolute;
	right: -20%;
	top: 150%;
	/* transform: translateX(-50%); */
	background-color: var(--bg-color);
	z-index: 99;
	width: 200%;
	box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.services {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}
.services-list.active {
	display: flex;
}
.services li {
	transition: all 0.2s linear;
}
.services li:hover {
	margin-right: 0.7rem;
}
.nav-icon {
	cursor: pointer;
}
.side-list {
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-105%);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	height: 100vh;
	width: 30%;
	z-index: 999;
	border-radius: unset;
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	background-color: white;
}
.close-side-list {
	cursor: pointer;
}
.side-list.active {
	transform: translateX(0);
}
.side-list .products-status div .product-image {
	width: 80px;
	height: 80px;
}
.side-list .products-status div:last-child p {
	font-weight: 400;
	font-size: 0.875rem;
}
.side-list .products-status div:first-child div .product-tag {
	font-size: 0.75rem;
}
.side-list .products-status div:first-child div .product-name {
	font-size: 1rem;
}
.side-list .products-status div:first-child div .product-size {
	font-size: 0.875rem;
}
/* End Reusable styles */

/* Start Form Elements */
.form-container {
	width: 30%;
}

form .input-group {
	display: flex;
	flex-direction: column;
}
form label {
	user-select: none;
}
form .input-group label {
	font-weight: 700;
}
form .input-group input {
	padding: 1.3rem 1rem;
	border: 1px solid var(--light-gray);
	border-radius: 6px;
	outline: none;
	width: 100%;
}
form input::placeholder {
	padding: 1rem 0;
}
.styled-checkbox {
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	padding: 3px;
	margin-bottom: 5px;
	align-items: center;
	cursor: pointer;
}
.styled-checkbox span {
	display: none;
}
.styled-checkbox.active {
	background-color: var(--primary);
}
.styled-checkbox.active span {
	display: block;
}
form button[type='submit'] {
	background-color: var(--primary);
	color: #ffffff;
	padding: 1.3rem 0;
	border-radius: 6px;
	border: none;
	font-weight: 700;
}
.divider-container p {
	background-color: var(--bg-color);
	color: var(--placeholder);
	z-index: 1;
	padding: 1rem 2rem;
}
.google-button {
	border: 1px solid #ebebeb;
	background-color: #f8f8f8;
	padding: 1.25rem 0;
	font-weight: 700;
	border-radius: 6px;
}
/* End Form Elements */

/* Start Login Page Styling */

.login-heading p {
	font-size: 1.2rem;
}

.image-container {
	width: 60%;
}

/* End Login Page Styling */

/* Start Navbar Styling */
.whatsapp-icon {
	position: fixed;
	left: 3rem;
	bottom: 2rem;
	background-color: #25d366;
	padding: 1rem;
	border-radius: 1rem;
	z-index: 3;
}

nav > div {
	padding: 1.5rem 7rem 1.5rem 6rem !important;
}

nav ul li a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.25rem;
}

/* End Navbar Styling */

/* Start Home Page Styling */
.carousel-inner {
	height: 600px;
}
.carousel-inner .carousel-item {
	height: 100%;
}

.carousel-inner img {
	/* aspect-ratio: 2 / 1; */
	object-fit: cover;
	height: 100%;
}

.heading-title {
	font-size: 3.5rem;
}

.heading-sub-title {
	font-size: 1.5rem;
	width: 60%;
}

.carousel-indicators button {
	width: 8px !important;
	height: 8px !important;
	border-radius: 50%;
	position: relative;
	transition: all 0.3s linear;
}
.carousel-indicators button.active {
	position: relative;
	width: 42px !important;
	border-radius: 0px !important;
	transition: all 0.3s linear;
}
.carousel-indicators button.active::after,
.carousel-indicators button.active::before {
	content: '';
	width: 8px !important;
	height: 8px !important;
	border-radius: 50%;
	position: absolute;
	top: 0;
	background-color: inherit;
}

.carousel-indicators button.active::before {
	left: -3px;
}
.carousel-indicators button.active::after {
	right: -3px;
}
.services-container {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(2, 1fr);
}

.service-card {
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	height: 232px;
}

.service-card img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: -1;
}
.service-card > div {
	padding: 2.5rem;
	color: white;
}
.service-card > div h3 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.all-products-container,
.products-container {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.product-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.product-card .product-image {
	overflow: hidden;
	border-radius: 0.5rem;
}
.product-card .product-image img {
	width: 100%;
}
.product-card .product-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.product-card .product-details p {
	font-size: 1.25rem;
}
.product-card .product-details div p {
	font-weight: 700;
}
.about-text {
	line-height: 35.71px;
}

.main-post-container {
	border-radius: 1.5rem;
}

.post-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.304), transparent);
	padding: 3rem;
	display: flex;
	align-items: flex-end;
}

.post-info div h3 {
	color: white;
	font-weight: 700;
	font-size: 2.25rem;
}
.post-info div p {
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
}
.post-card > div:first-child {
	width: 35% !important;
}
.post-card div:last-child div h4 {
	font-weight: 700;
	font-size: 1.25rem;
}
.post-card div:last-child div:last-child > p {
	color: var(--secondary-text-color);
}

.post-card div:last-child div:last-child div {
	gap: 5rem;
}

.post-card div:last-child div:last-child div p {
	font-size: 0.875rem;
}

.post-card div:last-child div:last-child div .post-tag {
	color: var(--primary);
	font-weight: 700;
}
.post-card div:last-child div:last-child div p:last-child {
	color: var(--lighter-text-color);
}
footer {
	background-color: var(--footer-color);
}

footer > div > ul li {
	position: relative;
	padding: 0 1rem;
}
footer > div > ul li:last-child::before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 26px;
	background-color: var(--bg-color);
}
footer div:last-child ul li a {
	color: var(--bg-color);
}
footer div div:last-child ul li {
	position: relative;
	padding: 0 3rem;
}
footer div div:last-child ul li:not(:last-child)::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 10px;
	background-color: var(--bg-color);
}
footer div div:last-child p {
	color: var(--bg-color);
	width: 60%;
	text-align: center;
	font-size: 0.875rem;
}

/* End Home Page Styling */
/* Start Products Page Styling */
.settings > .item,
.settings > .item > .item-content .item:not(.item:last-child) {
	border-bottom: 1px solid var(--border-color);
}
.settings > .item .item-title {
	padding-bottom: 1rem;
	cursor: pointer;
}
.settings .item .item-content .item {
	padding: 1rem 0;
}
.item .item-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.settings .item .item-title > div {
	display: flex;
	align-items: center;
	gap: 0.875rem;
}
.settings .item .item-title > div p {
	font-weight: 700;
}
.item .item-content {
	max-height: 0px;
	height: unset;
	overflow: hidden;
	transition: all 0.2s linear;
	visibility: hidden;
}
.settings .item .item-content form {
	margin-top: 1rem;
}
.item .item-content.active {
	max-height: 450px;
	height: auto;
	visibility: visible;
}
.item .item-title .arrow-down-icon {
	transition: all 0.2s linear;
}
.item .item-title .arrow-down-icon.active {
	transform: rotateX(180deg);
}

/*********** Multi-range ************/
.range_container {
	direction: ltr;
}
.double-slider-box {
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 10px;
	max-width: 20rem;
}

.range-slider {
	position: relative;
	width: 100%;
	height: 2px;
	margin: 30px 0;
	background-color: #8a8a8a;
}

.slider-track {
	height: 100%;
	position: absolute;
	background-color: var(--primary);
}

.range-slider input {
	position: absolute;
	width: 100%;
	background: none;
	pointer-events: none;
	top: 50%;
	transform: translateY(-50%);
	appearance: none;
}

input[type='range']::-webkit-slider-thumb {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid var(--primary);
	background: #fff;
	pointer-events: auto;
	appearance: none;
	cursor: pointer;
	box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

input[type='range']::-moz-range-thumb {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid var(--primary);
	background: #fff;
	pointer-events: auto;
	-moz-appearance: none;
	cursor: pointer;
	box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

.custom-tooltip {
	padding: 0.25rem 0.5rem;
	border: 0;
	background-color: var(--active-slider-dot);
	/* color: #fff; */
	font-size: 0.75rem;
	line-height: 1.2;
	border-radius: 0.25rem;
	top: 1200%;
	display: flex;
	align-items: center;
	gap: 0.2rem;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.custom-tooltip p {
	color: var(--bg-color);
}
.custom-tooltip::before {
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%);
	width: 0;
	width: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 7px solid var(--active-slider-dot);
	content: '';
}
.min-tooltip {
	left: 50%;
	transform: translateX(-57%);
	z-index: 5;
}
.max-tooltip {
	right: 50%;
	transform: translateX(35%);
}

.input-box {
	display: flex;
}

.min-box,
.max-box {
	width: 50%;
}

.min-box {
	padding-right: 0.5rem;
	margin-right: 0.5rem;
}

.input-wrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
/*********** Multi-range ************/
.sidebar {
	width: 20%;
}
.products {
	width: 80%;
}
.tags {
	display: flex;
	align-items: center;
	gap: 1rem;
}
button.tag {
	outline: none;
	border: none;
}
.tag {
	display: flex;
	padding: 10px 6px;
	background-color: #f6f6f6;
	border-radius: 0.5rem;
	gap: 10px;
	align-items: center;
}
.tag > div {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.tag > div .tag-name {
	color: #8e8e8e;
}
.search-form > div,
.search-form .styled-select {
	border: 1px solid #e8e8e8;
	border-radius: 0.5rem;
}
.search-form > div > span {
	padding: 0.75rem 1rem;
}
.search-form .styled-select {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.3rem 0.5rem 0.3rem 1rem;
}
.search-form input {
	outline: none;
	border: none;
}
.search-form select {
	cursor: pointer;
	padding: 0.45rem 0.5rem;
	border: none;
	outline: none;
}
.all-products-container .favourite {
	position: absolute;
	padding: 8px;
	border-radius: 50%;
	top: 1rem;
	left: 1rem;
	border: 1px solid white;
	z-index: 3;
	transition: all 0.2s linear;
	cursor: pointer;
	background-color: #0000001a;
}

.all-products-container .favourite:hover {
	background-color: rgba(255, 255, 255, 0.227);
}
.add-to-cart-btn {
	bottom: -25%;
	transition: all 0.3s linear !important;
}
.all-products-container .product-image:hover .add-to-cart-btn {
	bottom: 2rem;
}
.all-products-container .product-image a img {
	transition: all 0.3s linear;
}
.all-products-container .product-image:hover a img {
	filter: brightness(70%);
}

/* End Products Page Styling */

/* Start Product Page Styling */
.product-images-container {
	width: 50%;
	height: 660px;
	overflow: hidden;
	border-radius: 1.5rem;
	position: relative;
}
.product-images-container .main-image {
	height: 100%;
	width: 100%;
	/* position: relative; */
}
.product-images-container button.favourite-icon {
	top: 1rem;
	left: 1rem;
	padding: 0.5rem 0.6rem;
	fill: white;
	border: 1px solid white;
}
.more-images {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	/* width: 100%; */
	justify-content: center;
}

.more-images div {
	cursor: pointer;
	width: 91px;
	height: 91px;
	overflow: hidden;
	border-radius: 0.5rem;
	filter: brightness(80%);
}
.more-images div.selected {
	filter: unset;
	border: 1px solid var(--primary);
}
.product-info {
	width: 50%;
}
.product-images-container img {
	width: 100%;
	height: 100%;
}
.product-description .price {
	font-size: 1.5rem;
	font-weight: 700;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.product-description .description {
	color: var(--secondary-text-color);
}
.shop-buttons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.square-button {
	border-radius: 0.5rem;
	padding: 0.7rem 1rem;
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	outline: none;
	font-weight: 700;
	font-size: 1.5rem;
	transition: all 0.2s linear;
}
.square-button-primary-outlined {
	background-color: transparent;
	border: 1px solid var(--primary);
	color: var(--primary);
	padding: 0.7rem 1.6rem;
}
.square-button-primary-outlined:hover {
	background-color: var(--primary);
	color: white;
}
.square-button-primary {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	color: white;
	padding: 0.7rem 1.6rem;
}
.square-button-secondary {
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	color: black;
	padding: 0.7rem 1.6rem;
}
.square-button.size-button {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
	border: 1px solid var(--border-color);
	width: 32%;
}
.size-button p:first-child {
	font-weight: 700;
	font-size: 1.25rem;
}
.size-button p:last-child {
	font-size: 0.875rem;
}
.size-button.selected {
	border: 1px solid var(--primary);
}
.favourite-icon {
	padding: 0.6rem;
	border-radius: 50%;
	border: 1px solid var(--border-color);
	transition: all 0.2s linear;
	cursor: pointer;
	background-color: transparent;
	fill: var(--border-color);
}
.more-info {
	margin-bottom: 1rem;
}
.more-info .item .item-title {
	padding: 1rem 0;
	cursor: pointer;
}
.more-info .item .item-title > div p {
	font-size: 1.5rem;
}

/* End Product Page Styling */

/* Start Blog Page Styling */
.header-content {
	height: 514px;
}
.header-content > a {
	width: 100%;
	height: 100%;
}
.header-content > a img {
	width: 100%;

	height: 100%;
}
.header-content .post-info {
	height: 100%;
}
.header-content .post-info div .date {
	font-size: 1.25rem;
	font-weight: normal;
}
.header-content .post-info div .title {
	font-size: 3rem;
}
.header-content .post-info div .sub-title {
	font-size: 1.5rem;
	font-weight: normal;
}
.body-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}
.body-content .post-card .post-image {
	height: 247px;
	width: auto !important;
}
.body-content .post-card div .date-duration p {
	color: var(--secondary-text-color);
}
/* End Blog Page Styling */

/* Start Service Page Styling */
.header-content .service-title,
.header-content .service-sub-title {
	font-weight: 700;
	color: white;
}
.header-content .service-title {
	font-size: 1.5rem;
}
.header-content .service-sub-title {
	font-size: 4rem;
}
.header-content .main-service {
	z-index: 1;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
.service-types .service {
	display: flex;
}
.service-types .service .service-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 3rem 1.5rem;
	border: 1px solid var(--border-color);
}
.service-types .service .service-info > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.service-types .service .service-info,
.service-types .service .service-image {
	overflow: hidden;
	border-radius: 0.75rem;
}

.service-types .service .service-info > div h4 {
	font-size: 1.25rem;
	font-weight: 700;
}
.service-types .service .service-info > div p {
	color: var(--secondary-text-color);
}
.service-types .service .service-image {
	width: 50%;
}
.service-types .service .service-image img {
	width: 100%;
	height: 100%;
}
/* End Service Page Styling */
/* Start Service Book Page Styling */
.product-description .time-info {
	width: 70%;
}
.product-description .time-info div {
	width: 50%;
}
.product-description .counter {
	width: 30%;
}
.product-description .time-info div span {
	height: 16px;
}
.product-description .counter button {
	height: 20px;
}
.product-description .time-info div span svg,
.product-description .counter button svg {
	vertical-align: top;
}
.product-description .time-info div {
	padding: 1rem;
}
.product-description .counter {
	padding: 0.5rem 1rem;
}
#duration {
	color: var(--active-slider-dot);
}

/* End Service Book Page Styling */

/* Start Check out Page Styling */
.head {
	padding: 2.5rem 0;
	display: flex;
	align-items: center;
	gap: 6px;
}
.contact-information {
	display: flex;
	width: 50%;
}
.component {
	padding: 1.5rem;
	background-color: var(--bg-color);
	border-radius: 1rem;
}
.payment-method a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 143px;
	height: 58px;
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	/* padding: 1rem; */
}
.payment-method a img {
	width: 100%;
}
.order-information {
	display: flex;
	width: 50%;
}
.component .orders {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.component .order,
.component .purchase-details .details {
	border-bottom: 1px solid #f4f4f4;
}
.component .order {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1.5rem 0;
}
.component .order .order-image {
	width: 20%;
	height: 100px;
	overflow: hidden;
	border-radius: 0.75rem;
}
.component .order .order-buttons {
	/* width: 32%; */
}
.component .order .order-buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.component .order .order-buttons .counter.selected {
	border-color: transparent;
}
.component .order .order-buttons .counter {
	width: fit-content;
}
.component .order .order-buttons .remove-order {
	padding: 0.875rem;
	background-color: #df575726;
	border-radius: 0.5rem;
	border: none;
	outline: none;
}
.component .order .order-image img {
	width: 100%;
	height: 100%;
}
.component .order .order-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.component .order .order-details .info {
	display: flex;

	justify-content: space-between;
	height: 100%;
}
.component .order .order-details .info .name-price p {
	font-weight: 700;
}
.component .order .order-details .duration-date p {
	color: #8e8e8e;
}
.component .purchase {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.component .purchase p {
	font-size: 1.5rem;
	font-weight: 700;
}
.component .purchase div input {
	padding: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	outline: none;
	background-color: var(--second-bg-color);
	width: 85%;
}
.component .purchase div input::placeholder {
	color: var(--text-color);
	font-size: 1rem;
	padding: 1px 0;
}
.component .purchase .activate {
	background-color: var(--bg-color);
	border: 1px solid var(--border-color);
	font-size: 1rem;
	height: 100%;
}
.component .purchase .purchase-details .details {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 2rem;
}
.component .purchase .purchase-details .details div p {
	font-size: 1.25rem;
	font-weight: 400;
}
.component .purchase .purchase-details .total {
	padding-top: 2rem;
}
.component .purchase .purchase-details .total p {
	font-size: 2rem;
}
.component .purchase .pay {
	width: 100%;
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: 700;
	border: none;
}
.component .purchase .purchase-content {
	display: flex;
	flex-direction: column;
	gap: 5.5rem;
}

/* .component .order .order-details .info div p a {
	border: none;
	outline: none;
	background-color: transparent;
} */
/* End Check out Page Styling */

/* Start Profile Page Styling */
.profile-component {
	background-color: var(--bg-color);
	border-radius: 1rem;
}
.user-information {
	width: 20%;
}
.purchase-information {
	width: 80%;
}

.user-info {
	position: relative;
	padding: 2rem 3rem;
}
.user-info .edit-icon {
	position: absolute;
	top: 0.875rem;
	right: 1.5rem;
	padding: 0.1rem 0.5rem;
	border-radius: 50%;
	border: 1px solid var(--border-color);
}
.user-info .phone {
	color: var(--secondary-text-color);
}

.tabs-buttons button,
.order-status .status-buttons button {
	width: fit-content;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1.25rem;
	color: var(--secondary-text-color);
}
.tabs-buttons button.active {
	font-weight: 700;
	color: var(--text-color);
}
.order-status {
	gap: 2rem;
}
.order-status .status-buttons {
	display: flex;

	gap: 3.125rem;
}
.order-status .status-buttons button {
	padding-bottom: 1.5rem;
	color: var(--text-color);
	font-weight: 700;
}
.order-status .status-buttons button.active {
	border-bottom: 2px solid var(--primary);
}
.status-details {
	padding: 1.25rem 1.5rem;
}
.component-border {
	border-bottom: 1px solid #f4f4f4;
}
.products-status {
	padding-bottom: 1.5rem;
}

.products-status div .product-image {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 0.75rem;
}
.products-status > div:last-child p {
	font-weight: 700;
	font-size: 1.25rem;
}
.products-status div:first-child div .product-tag {
	color: var(--secondary-text-color);
}
.products-status div:first-child div .product-name {
	font-size: 1.25rem;
}
.products-status div .product-image img {
	width: 100%;
	height: 100%;
}

/* End Profile Page Styling */

@media (min-width: 1400px) {
	.container-xxl {
		max-width: 1460px;
	}
}

@media (max-width: 1200px) {
	.form-container {
		width: 100%;
	}

	.image-container {
		display: none;
	}

	.login-heading p {
		font-size: 1rem;
	}
	.contact-information {
		display: none;
	}
	.contact-information.active {
		display: flex;
		width: 100%;
	}
	.order-information.active {
		display: flex;
		width: 100%;
	}
	.order-information {
		display: none;
	}
}

@media (max-width: 992px) {
	nav > div:not(.res-nav),
	.sidebar {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--bg-color);
		z-index: 99;
		padding: 1.5rem 2rem !important;
		transform: translate(100%);
		transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.sidebar,
	.products {
		width: 100%;
	}
	nav .res-nav {
		padding: 1.5rem 2rem !important;
	}
	.side-list {
		width: 100%;
		transform: translateX(100%);
	}
	nav > div.active,
	.sidebar.active {
		transform: translate(0%);
	}
	.services-button {
		position: unset;
	}
	.services-list {
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
		display: flex;
		height: 100vh;
		width: 100%;
		z-index: 999;
		border-radius: unset;
		padding: 1.5rem 2rem;
		box-shadow: unset;
	}
	.services-list.active {
		transform: translateX(0);
	}
	.services {
		align-items: center;
		justify-content: center;
		margin-top: 1rem;
	}
	.heading-title {
		font-size: 2.5rem;
	}
	.heading-sub-title {
		font-size: 1.75rem;
		width: 80%;
	}

	.services-container {
		gap: 1rem;
	}
	.products-container {
		justify-items: center;
	}
	.product-card .product-details p,
	.product-card .product-details div p {
		font-size: 1rem;
	}

	.all-products-container,
	.products-container {
		grid-template-columns: repeat(2, 1fr);
	}
	/* .post-card div:last-child div:last-child div {
		gap: 1rem;
	} */
	.about-text {
		line-height: 26px;
	}
	.post-card > div:first-child {
		width: 50% !important;
	}

	.post-card div:first-child img {
		height: 100%;
	}
	.post-card > div:last-child {
		width: 50% !important;
	}
	.tag > div .tag-name,
	.tag > div .tag-value {
		font-size: 0.875rem;
	}
	.search-form input,
	.search-form,
	.search-form div {
		width: 100%;
	}
	.search-form > div > span {
		padding: 0 1rem;
	}
	.settings .item .item-content {
		max-height: unset;
		height: fit-content;
		visibility: visible;
	}
	.settings > .item,
	.settings > .item > .item-content .item:not(.item:last-child) {
		border-bottom: unset;
	}
	.settings .arrow-down-icon {
		display: none;
	}
	.product-images-container {
		width: 100%;
		height: 314px;
	}
	.product-info {
		width: 100%;
	}
	.square-button {
		padding: 0.7rem 1.3rem;
		font-size: 1rem;
	}
	.shop-buttons {
		position: fixed;
		bottom: 0;
		gap: 0.5rem;
		left: 0;
		width: 100%;
		padding: 1rem 0.3rem;
		z-index: 3;
		background-color: var(--bg-color);
		justify-content: center;
	}
	.square-button.size-button {
		width: 100%;
	}
	.header-content .post-info div .title {
		font-size: 1.25rem;
	}
	.header-content .post-info div .date,
	.header-content .post-info div .sub-title {
		font-size: 0.875rem;
	}
	.header-content .post-info .circular-button {
		padding: 5px;
	}
	.body-content {
		grid-template-columns: repeat(2, 1fr);
	}
	.body-content.services-content {
		grid-template-columns: repeat(2, 1fr);
	}
	.body-content .post-card > div:last-child {
		width: 100% !important;
	}
	.body-content .post-card div .date-duration p {
		font-size: 0.75rem;
	}
	.product-description .time-info {
		width: 100%;
	}

	.product-description .counter {
		width: 100%;
	}
	.product-description .counter {
		padding: 1rem;
	}
	.component .order .order-details .info .name-price p:first-child {
		font-size: 1rem !important;
	}
	.component .order .order-details .info .name-price p:last-child {
		font-size: 0.875rem;
	}
	.user-information,
	.purchase-information {
		width: 100%;
	}
	.tabs-buttons button {
		width: 50%;
		border-radius: 1rem;
	}
	.tabs-buttons button {
		color: var(--text-color);
	}
	.tabs-buttons button.active {
		background-color: var(--secondary);
		color: var(--primary);
	}
	.products-status div .product-image {
		width: 80px;
		height: 80px;
	}
	.products-status div:last-child p {
		font-weight: 400;
		font-size: 0.875rem;
	}
	.products-status div:first-child div .product-tag {
		font-size: 0.75rem;
	}
	.products-status div:first-child div .product-name {
		font-size: 1rem;
	}
	.products-status div:first-child div .product-size {
		font-size: 0.875rem;
	}
	.order-status .status-buttons {
		justify-content: center;
	}
	footer div div:last-child ul li {
		position: relative;
		padding: 0 1rem;
	}
}

@media (max-width: 768px) {
	.whatsapp-icon {
		position: fixed;
		left: 1.5rem;
		bottom: 1.5rem;
	}
	.heading-title {
		font-size: 1rem;
	}
	.heading-sub-title {
		font-size: 0.75rem;
		width: 80%;
	}
	.carousel-inner {
		height: 250px;
	}
	.carousel-indicators {
		bottom: -45px;
	}
	.carousel-indicators button {
		background-color: var(--slider-dot) !important;
	}
	.carousel-indicators button.active {
		background-color: var(--active-slider-dot) !important;
	}

	.circular-button {
		font-size: 0.75rem;
	}
	.circular-button {
		padding: 6px 15px;
	}
	.heading h2 {
		font-size: 0.875rem;
	}
	.heading p {
		font-size: 1.25rem;
	}
	.service-card {
		height: unset;
	}
	.service-card > div {
		padding: 1.5rem;
	}

	.service-card > div h3 {
		font-size: 1rem;
	}
	.main-post-container {
		border-radius: 1rem;
	}
	.post-info {
		padding: 1rem;
	}
	.post-info div h3 {
		font-size: 1.25rem;
	}
	.post-info div p {
		font-size: 0.875rem;
	}
	.body-content .post-card .post-image {
		height: 118px;
	}
	.header-content {
		height: 222px;
		border-radius: 1rem;
		overflow: hidden;
	}
	.header-content .service-title {
		font-size: 1.25rem;
	}
	.header-content .service-sub-title {
		font-size: 2.5rem;
	}

	.service-types .service .service-info {
		padding: 3rem 1rem;
	}
	.service-types .service .service-info > div p {
		font-size: 0.875rem;
	}
	.body-content.services-content {
		grid-template-columns: repeat(1, 1fr);
	}
	.checkout.background-secondary {
		background-color: var(--bg-color);
	}
	.component {
		padding: unset;
	}
	.component .order .order-image {
		width: 30%;
	}
	.component .order .order-buttons {
		width: 45%;
	}
	.component .order .order-buttons .counter {
		width: fit-content;
	}
	#number-of-orders {
		font-size: 12px !important;
	}
	.remove-order svg {
		width: 12px !important;
		height: 12px !important;
	}
	.component .order .order-buttons .remove-order {
		padding: 0.2rem 0.5rem;
	}
	.duration-date {
		gap: 2.5rem !important;
	}
	.duration-date p {
		font-size: 0.875rem;
	}
	.component .purchase .purchase-details .details div p {
		font-size: 1rem;
		font-weight: 400;
	}
	.component .purchase p,
	.component .purchase .purchase-details .total p {
		font-size: 1.125rem;
		font-weight: 400;
	}
	.payment-method a {
		width: 30%;
		padding: 0.5rem 0.2rem;
	}
	.payment-method a p {
		font-size: 1rem !important;
	}
	footer div div:last-child p {
		width: 90%;
	}
}

@media (max-width: 576px) {
	.post-card div:last-child div h4,
	.post-card div:last-child div:last-child > p {
		font-size: 0.875rem;
	}
	footer > div > ul li {
		padding: 0 0.6rem;
	}
}
